*{
    margin: 0px;
    padding: 0px;
}

:root{
    --custom-white-2 : #FFFFFF;
    --custom-blue : #212362;
    --custom-blue-2 : #F9FBFF;
    --custom-blue-2-0 : #ebf2ff;
    --custom-blue-3 : #5257A6;
    --custom-blue-4 : #21236272;
    --custom-orange : #F2A33B;
}

#mainBox1{
    background: linear-gradient(to left,#777bac,#ebf2ff,#F9FBFF,#FFFFFF);
}

#mainBox2>div:nth-child(1),#mainBox2>div:nth-child(3){
    background: linear-gradient(to right,#777bac,#ebf2ff,#F9FBFF,#FFFFFF);
}

#mainBox2>div:nth-child(2){
    background: linear-gradient(to left,#777bac,#ebf2ff,#F9FBFF,#FFFFFF);
}

#circleImg{
    background-color: var(--custom-blue-4);
    color:var(--custom-white-2);
    object-fit: cover;
    height: 300px;
    width: 300px; 
}

#text1,#text2,#text3{
    width: 40%;
}

body, html{
    min-height: 100%;
    width: 100%;
    background-color: var(--custom-white-2);
}

#pages a{
    color: var(--custom-blue);
    transition: all 0.25s ease;
}

#pages a:hover{
    color: var(--custom-orange);
}

#candBtn, #empBtn{
    text-decoration: none;
}

#buttons > a{
    text-decoration: none;
}

#navbar{
    position: sticky;
    /* border-bottom: 2px dashed #2b2b29; 
    background-color: var(--custom-white-2);*/
    background: linear-gradient(to left,#777bac,#ebf2ff,#F9FBFF,#FFFFFF);
}

#foot{
    background-color: var(--custom-blue-2-0);
}

#clients{
    border-top: 2px solid #4f1f89;
}

#clients img{
    opacity: 0.7;
}

#clients p{
    color: var(--custom-blue-3);
}

#footLogo{
    color: var(--custom-blue-3);
}

#icons > a > i{
    color: var(--custom-blue-3);
}

#icons > a > i:hover{
    color: var(--custom-blue);
}

#tags > a{
    text-decoration: none;
    color: var(--custom-blue-3);
}

#tags > a:hover{
    padding-bottom: 0;
    color: var(--custom-blue);
}

#tags a::after {
    content: '';
    display: block;    
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: var(--custom-blue);
    transform-origin: bottom left;
    transition: transform 0.5s;
}
  
#tags a:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

#textBox1 > div > p{
    color: var(--custom-blue-3);
}

#circle1, #circle2, #circle3{
    background-color: var(--custom-blue-4);
    color:var(--custom-white-2); 
}

#circle1:hover, #circle2:hover, #circle3:hover{
    background-color: var(--custom-orange);
    cursor: pointer; 
}

#circle1{
    height: 300px;
    width: 300px;
}

#circle2{
    height: 200px;
    width: 200px;
}

#circle3{
    height: 150px;
    width: 150px;
}


@media (max-width: 750px) {  
    #circle1{
        height: 15em;
        width: 15em;
    }
    
    #circle2{
        height: 7em;
        width: 7em;
    }
    
    #circle3{
        height: 4em;
        width: 4em;
    }
}
 
@media (max-width: 500px) { 
    #circle1{
        height: 12em;
        width: 12em;
    }
    
    #circle2{
        height: 12em;
        width: 12em;
    }
    
    #circle3{
        height: 12em;
        width: 12em;
    }  
}