*{
    margin: 0px;
    padding: 0px;
    white-space: nowrap;
}

:root{
    --custom-white-2 : #FFFFFF;
    --custom-blue : #212362;
    --custom-blue-2 : #F9FBFF;
    --custom-blue-2-0 : #ebf2ff;
    --custom-blue-3 : #5257A6;
    --custom-blue-4 : #21236272;
    --custom-orange : #F2A33B;
}

#main_container{  
    background-color: var(--custom-white-2);
}

html, body {
    min-height:100%;
}

#contentMain{
    min-height: 100%;
}

/*Medium Screen*/
@media screen and (max-width: 900px){ 
    #textBox1{
        white-space: normal;
    }

    #contentBox1 > div{
        display: flex;
        flex-direction: column;
    }

    #textBox1,#circlePlay{
        width: 100%;
        min-height: 50em;
    }

    #textBox1 h1{
        font-size:5em;
    }

    #textBox1 p{
        font-size: 2em;
    }

    #circlePlay > div > #circle1{
        height: calc(300px + 300px);
        width: calc(300px + 300px);
        font-size:2em;
    }

    #circlePlay > div > #circle2{
        height: calc(150px + 200px);
        width: calc(150px + 200px);
        font-size:2em;
    }

    #circlePlay > #circle3{
        height: calc(50px + 100px);
        width: calc(50px + 100px);
        font-size:2em;
    }

}

/*Small Screen*/
@media screen and (max-width: 500px){
    #textBox1{
        white-space: normal;
    } 

    #contentBox1 > div{
        display: flex;
        flex-direction: column;
    }

    #textBox1,#circlePlay{
        width: 100%;
        height: 50em;
    }

    #textBox1 h1{
        font-size:6em;
    }

    #textBox1 p{
        font-size: 3em;
    }

    #circlePlay > div > #circle1{
        height: calc(300px + 200px);
        width: calc(300px + 200px);
        font-size:3em;
    }

    #circlePlay > div > #circle2{
        height: calc(150px + 200px);
        width: calc(150px + 200px);
        font-size:3em;
    }

    #circlePlay > #circle3{
        height: calc(50px + 100px);
        width: calc(50px + 100px);
        font-size:3em;
    }
}

/*Important Media Queries*/
@media screen and (min-width: 900px){
    #contentBox1 > div{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
} 

@media screen and (max-width: 1495px) {
    #main_container{
      width: fit-content;
    }
}

#pages{
    list-style: none;
}

#pages li a{
    text-decoration: none;

    padding: 20px;
    color: var(--custom-blue);
    transition: all 0.25s ease;
}

#pages li a:hover{
    color: var(--custom-orange);
}

#candBtn, #empBtn{
    font-weight: bold;
    transition: all 0.5s ease;
}

#navbar{
    position: sticky;
    border-bottom: 2px dashed #2b2b29;
    background-color: var(--custom-white-2);
    width: auto;
}


#circle1, #circle2, #circle3{
    background-color: var(--custom-blue-3);
    color: var(--custom-white-2); 
}

#circle1{
    background-color: var(--custom-blue-4);
    height: 300px; 
    width: 300px;
}

#circle2{
    background-color: var(--custom-blue-4);
    height: 150px; 
    width: 150px;
}

#circle3{
    background-color: var(--custom-blue-4);
    height: 50px; 
    width: 50px;
}

#foot{
    background-color: var(--custom-blue-2-0);
}

#clients{
    width: auto;
    border-top: 2px solid #4f1f89;
}

#clients img{
    opacity: 0.7;
}

#clients p{
    color: var(--custom-blue-3);
}

#footLogo{
    color: var(--custom-blue-3);
}

#icons > a > i{
    color: var(--custom-blue-3);
}

#icons > a > i:hover{
    color: var(--custom-blue);
}

#tags > a{
    padding-bottom: 0;
    text-decoration: none;
    color: var(--custom-blue-3);
}

#tags > a:hover{
    padding-bottom: 0;
    color: var(--custom-blue);
}

#textBox1 > div > p{
    color: var(--custom-blue-3);
}

#tags a::after {
    content: '';
    display: block;    
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: var(--custom-blue);
    transform-origin: bottom left;
    transition: transform 0.5s;
}
  
#tags a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}